Unused references

ID nits complains of the following unused references:

  == Unused Reference: 'AES' is defined on line 4147, but no explicit
     reference was found in the text

  == Unused Reference: 'GCM' is defined on line 4305, but no explicit
     reference was found in the text

  == Unused Reference: 'PKCS6' is defined on line 4339, but no explicit
     reference was found in the text

  == Unused Reference: 'PKCS7' is defined on line 4342, but no explicit
     reference was found in the text

  == Unused Reference: 'RFC4279' is defined on line 4371, but no explicit
     reference was found in the text

  == Unused Reference: 'RFC4507' is defined on line 4392, but no explicit
     reference was found in the text

  == Unused Reference: 'RFC5054' is defined on line 4401, but no explicit
     reference was found in the text

  == Unused Reference: 'RFC5746' is defined on line 4425, but no explicit
     reference was found in the text

  == Unused Reference: 'RFC5878' is defined on line 4436, but no explicit
     reference was found in the text

  == Unused Reference: 'RFC7366' is defined on line 4479, but no explicit
     reference was found in the text

Looking at the editor's copy only AES and GCM remain.  I think we can safely remove both because those references are picked up but the cipher suite definitions.

Strike that since we're defining some suites we need to include GCM and move it normative.  We can drop the AES reference because it's picked up by the GCM reference.