HRR consistency requirements are too strict

We ran into this with ECH over in https://github.com/tlswg/draft-ietf-tls-esni/issues/358. RFC8446, section 4.1.2 says:

> The client will also send a ClientHello when the server has responded to its ClientHello with a HelloRetryRequest. In that case, the client MUST send the same ClientHello without modification, except as follows:
>
> * If a "key_share" extension was supplied in the HelloRetryRequest, replacing the list of shares with a list containing a single KeyShareEntry from the indicated group.
>
> * Removing the "early_data" extension (Section 4.2.10) if one was present.  Early data is not permitted after a HelloRetryRequest.
>
> * Including a "cookie" extension if one was provided in the HelloRetryRequest.
>
> * Updating the "pre_shared_key" extension if present by recomputing the "obfuscated_ticket_age" and binder values and (optionally) removing any PSKs which are incompatible with the server's indicated cipher suite.
>
> * Optionally adding, removing, or changing the length of the "padding" extension [RFC7685].
>
> * Other modifications that may be allowed by an extension defined in the future *and present in the HelloRetryRequest*. [emphasis mine]

https://tools.ietf.org/html/rfc8446#section-4.1.2

I think this last rule was perhaps a little too strict. ECH as it is currently written violates this rule. If we adopt something like https://github.com/tlswg/draft-ietf-tls-esni/issues/374, we'll avoid this, but this text was perhaps too strict. It precludes us defining any other extension that needs to change on all HRRs. Indeed, it's a little telling that, of the five changeable extensions currently defined, only two (key_share and cookie) meet the text's own general rule!

One thing of note is that, while the text only includes rules for the client, not the server, at least one implementation (LibreSSL) interpreted this to mean they should enforce strict consistency. So if we change this, they'll need to be updated. (Relatedly, I think we under-describe HRR handling on the server in general, but I'll file a separate ticket to track that.)

So don't do that.  The second is the only one that matters.  The first only matters to the extent that the client might be induced to change what it sends in the second.

Agree with Martin.


Well, it's a little trickier than that. See #1224. I'll expand in that bug on some scenarios where you can't use the second.

Either way, the spec already *currently* it up to the implementation because it does not ask the server to enforce anything. Plus this bug is about the last bullet point, concerning unknown extensions, which the server would not be paying attention to in the first place. From the discussions in IETF 109, it seemed folks generally agreed this behavior was too strict. (It descends from an earlier, broken construction where stateless servers reconstructed CH1 from CH2.)

while the standard doesn't require the server to enforce, it does permit the server to enforce it, and there are implementations that do enforce that

https://www.bikeconnection.net/articles/bike-rentals-pg66.htm