Certificate extension rules don't work for client certs

The spec says:
> extensions:
> A set of extension values for the CertificateEntry. The “Extension” format is defined in Section 4.2. Valid extensions include OCSP Status extensions ([RFC6066] and [RFC6961]) and SignedCertificateTimestamps ([RFC6962]). Any extension presented in a Certificate message must only be presented if the corresponding ClientHello extension was presented in the initial handshake. If an extension applies the the entire chain, it SHOULD be included in the first CertificateEntry.

It's not clear what the rules for client certificate extensions are. I don't think it's right to say an extension may only be included if in the ClientHello because that means I can send a totally unknown ClientHello extension followed by a totally unknown Certificate extension and since most stacks won't keep state around for unknown extensions, that boils to allowing unsolicited extensions on the client, but not the server.

One option is to resurrect PR #656. Then you can say that client Certificate extensions are solicited by CertificateRequest extensions, which mirrors how server Certificate extensions are solicited by ClientHello extensions.

Two observations about that:
1. Clients can of course send any unsolicited stuff they want in CH, so I'm not *sure* that this is a crisis. However, it is annoying that it's asymmetrical.
2. I think this does point out a failing in the current structure, but I'm not not entirely sure we want PR#656. Here's another fix that adds an extra layer of hierarchy.

       struct {
           opaque certificate_request_context<0..2^8-1>;
           SignatureScheme
             supported_signature_algorithms<2..2^16-2>;
           DistinguishedName certificate_authorities<0..2^16-1>;
           Extension certificate_extensions<0..2^16-1>;
       } CertificateRequest;

       struct {
           opaque certificate_extension_oid<1..2^8-1>;
           opaque certificate_extension_values<0..2^16-1>;
       } OIDFilter;

       struct {
         OIDFilter filters<0..2^16-1>;
       } OIDFilterExtension;

The idea here would be that you would be allowed to offer a pile of extensions and one of which would be a list of OIDFilters, which are the current extensions defined for this message.

Note: another idea I considered and rejected was to have an extension type which was "I am an OID filter" and then contain OIDFilter, but that falls afoul of the "you can only have one extension rule."

P.S. I think while we're in here we should also remove the explicit certificate_authorities block and replace it with an extension.


Agreed it's not a crisis. It's also a little unfortunate in that the client doesn't know a priori doesn't know what the server requested, so it'd have to just send everything. I could also imagine situations a la X.509 critical extensions that you'd like to know the peer will process some Certificate extension.

(We also don't quite have unsolicited extensions as is. The spec, as written, says clients may staple OCSP responses, SCTs, etc., to their certs only if they also request it of the server in ClientHello, which is bizarre.)

Isn't your proposal the same as PR#565 (rebasing atop unified extension namespace aside) but with the OID filters hidden behind an extensible extension? I don't actually care (our implementation will probably ignore it anyway), but that seems odd. An OIDFilter is in itself an extension point where we'd need implementations to ignore unknown fields. Clients cannot process OIDFilters generically because each OID has custom matching rules.

> P.S. I think while we're in here we should also remove the explicit certificate_authorities block and replace it with an extension.

\*shrug\* Sounds reasonable.

> P.S. I think while we're in here we should also remove the explicit certificate_authorities block and replace it with an extension.

Then we could also rename 'extensions' to feature_data or TLV_data or something like that ;)

Eh, it's called extensions everywhere else. Let's keep that the same.

Another point in favor of this is that making this change makes dealing with cached info with certificate requests easier in TLS 1.3 since cached info is kind of broken right now 

I'll get on this soon