[rfced] FYI - We have added expansions for the following abbreviations

[rfced] FYI - We have added expansions for the following abbreviations
per Section 3.6 of RFC 7322 ("RFC Style Guide"). Please review each
expansion in the document carefully to ensure correctness.

 Elliptic Curve Cryptography (ECC)
 Internet of Things (IoT)

OK.