Clarify "in the same flight"

I'm working on a hobby implementation of TLS1.3 as a way of vetting the spec draft, and I ran into an issue with sending the ClientKeyShare.

The handshake spec (7.2) says it should be sent "in the same flight" as the ClientHello message, without specifying the correct encapsulation method. Maybe it's just me, but this phrase could be interpreted as either the following:
```
TCP packet
 \- TLSPlaintext  (content_type 22)
     |- Handshake (msg_type 1)
     |   \- ClientHello
     \- Handshake (msg_type 5)
         \- ClientKeyShare
```
or:
```
TCP packet
 |  TLSPlaintext  (content_type 22)
 |   \- Handshake (msg_type 1)
 |       \- ClientHello
 \- TLSPlaintext  (content_type 22)
     \- Handshake (msg_type 5)
         \- ClientKeyShare
```

If I were to venture a guess, I'd say the two are equivalent, but it's also conceivable that some implementations require any TLSPlaintext to contain exactly one child struct. (Source: last night's revision of my implementation did just that. [Unintentionally.])

I think that if we have a preference for either one, the spec should reflect that. If not, it may be wise to explicitly declare either option to be correct.

It has been pointed out to me by Hubert Kario that according to RFC 5246, section 6.2.1 these options are in fact equivalent:

> Client
   message boundaries are not preserved in the record layer (i.e.,
   multiple client messages of the same ContentType MAY be coalesced
   into a single TLSPlaintext record, or a single message MAY be
   fragmented across several records).