Exporter label requirements

 refer the reader to exporter requirements in RFC 5705

"Requirements for the format of Exporter labels are defined in section 4 of RFC5705."

Creating pull request. 

@jsalowey: should we expect a PR?

This appears to be done.

yes I submitted PR #874 which has been merged already. 