The definition of hello_retry_request(4) is missing from HandshakeType in section 7.4.

It has a proper definition in appendix A.4.

Note though that RFC 4507 section 7 has allocated this value for the session_ticket/NewSessionTicket handshake type. This point may be moot if RFC 4507 has been integrated with TLS 1.3, in which case RFC 4507 should be added to the list of obsoleted RFCs.
