obsolete informational references

ID nits complains about the following:

  -- Obsolete informational reference (is this intentional?): RFC 4346
     (Obsoleted by RFC 5246)

  -- Obsolete informational reference (is this intentional?): RFC 4366
     (Obsoleted by RFC 5246, RFC 6066)

  -- Obsolete informational reference (is this intentional?): RFC 4507
     (Obsoleted by RFC 5077)

  -- Obsolete informational reference (is this intentional?): RFC 5081
     (Obsoleted by RFC 6091)


The reference to 4346 looks okay to me because it says "originally defined in [RFC4346]" and that is a true statement.  It is irrelevant that 5246 later asked for the registry to point to 5246 instead of 4346.

Ditto for the 4366 reference.

4507 and 5081 aren't in the editor's copy so they've been addressed.

To be clear, I think we can safely close this issue.