[rfced] Table 1

[rfced] Table 1

a) FYI - We have updated the citation for "record_size_limit" from [RFC8849]
to [RFC8449], as [RFC8449] defines the extension and [RFC8849] does not
have any mention of it.

Original:
   record_size_limit [RFC8849]

Current:
   record_size_limit [RFC8449]


b) We note that RFC 9345 uses "delegated_credential" rather than
"delegated_credentials" (no "s"). May we update the extension to reflect RFC 9345?

Current:
   delegated_credentials {{RFC9345}}